/*--------------------------------------------------------------
 >>> TABLE OF CONTENTS:
 ----------------------------------------------------------------
 1.0 Reset
 2.0 Typography
 3.0 Header
 3.1 Main Menu
 4.0 Pages
 4.1 Index
 4.2 About
 4.3 Register
 4.4 Testimonials
 5.0 Footer
 --------------------------------------------------------------*/
/*--------------------------------------------------------------
 1.0 Reset
 --------------------------------------------------------------*/


/*--------------------------------------------------------------
 2.0 Typography
 --------------------------------------------------------------*/

body, button, input, select, textarea {
	font-size: 18px;
	font-family: 'Lato', sans-serif;
	line-height: 1.5;
	color: #000;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	font-family: 'Lato', sans-serif;
	color: #000;
}

h2 {
	font-size: 32px;
}

p {
	margin-bottom: 1.5em;
}

/*--------------------------------------------------------------
 3.0 Header
 --------------------------------------------------------------*/

header {
	background: #000;
	padding: 15px 20px;
}

header:before, header:after {
	content: "";
	display: table;
}

header:after {
	clear: both;
}

.logo a {
	color: #d8d8d8;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 20px;
	line-height: 22px;
	float: left;
	letter-spacing: 0.2em;
}

.icon {
	float: right;
	color: #fff;
	margin: 25px 15px 0px 0px;
	text-decoration: none;
	font-size: 20px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.icon:hover {
	color: #bd9c61;
}

.icon:visited {
	color: #fff;
}

@media screen and (min-width: 960px) {

	.icon {
		display: none;
	}

}

/*--------------------------------------------------------------
 3.1 Main Menu
 --------------------------------------------------------------*/

ul.primary-nav {
	position: absolute;
	top: 35px;
	right: 10px;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul.primary-nav li {
	float: left;
}

ul.primary-nav li a {
	display: inline-block;
	text-align: center;
	border: none;
	padding: 0 30px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

ul.primary-nav li a:hover, ul.primary-nav li a:focus {
	color: #bd9c61;
}

/*media queries*/
@media screen and (max-width: 960px) {

	ul.primary-nav li {
		display: none;
	}

}

@media screen and (max-width: 960px) {

	ul.primary-nav.responsive {
		position: relative;
		height: 155px;
	}

	ul.primary-nav.responsive li {
		float: none;
		display: inline;
		line-height: 30px;
	}

	ul.primary-nav.responsive li a {
		display: block;
		text-align: left;
	}

	/*ul.primary-nav.responsive li.twitter, ul.primary-nav.responsive li.search  {
	 display: none;
	 }*/

}

/*--------------------------------------------------------------
 4.0 Pages
 --------------------------------------------------------------*/
/*--------------------------------------------------------------
 4.1 Index
 --------------------------------------------------------------*/
#wrapper {
	min-height: 100%;
	position: relative;
}

article {
	border-bottom: 1px solid #d8d8d8;
	padding: 10px 20px 0 20px;
	margin: 10px 0;
}

.promo-1 {
	background: url("../img/footer_lodyas.png");
	padding: 30px 0px;
}

.biglogo {
	display: none;
}

.promo-1 h2 {
	color: #fff;
	padding: 30px 5px 0px 5px;
	text-align: center;
}

.button {
	display: block;
	height: 50px;
	width: 240px;
	background: #bd9c61;
	border: 2px solid #5a4a42;
	color: rgba(0, 0, 0, 0.55);
	text-align: center;
	font: bold 20px 'PT Sans', sans-serif;
	margin: 40px auto;
	line-height: 50px;
	border-radius: 50px;
	box-shadow: 0 8px 0 #5a4a42;
	text-shadow: 0 2px 2px rgba(255, 255, 255, 0.2);
}

a.button {
	text-decoration: none;
}

a.button:hover {
	background: #cd9f4f;
}

.promo-2 {
	text-align: center;
	margin-bottom: 30px;
}

.promo-2 h2 {
	margin: 30px 0px 0px 0px;
}

.promo-2 p {
	padding: 20px 0px 0px 0px;
}

.header-caption {
	font-weight: bold;
}

.promo-2 a.button {
	margin: 10px auto;
}

.container-wrapper {
	text-align: center;
}

.icon-info h2 {
	margin: 0px;
}

.icon-info p {
	padding: 10px 5px 0px 5px;
}

.icon-info h2 {
	font-size: 30px;
}

.icon-info i {
	padding: 30px 0px 0px 0px;
	font-size: 100px;
}

@media only screen and (min-width: 1024px) {

	.promo-1 {
		padding: 20px 0px;
	}

	.promo-1-wrapper {
		padding: 40px 0px 0px 0px;
	}

	.biglogo {
		display: block;
		margin: 0px auto;
	}

	.promo-1_heading {
		padding: 20px 5px 0px 5px;
	}

	.button {
		margin: 40px auto;
	}

	.promo-2 p {
		margin: 10px 0px 0px 0px;
	}

	.promo-2 a.button {
		display: inline-block;
		margin: 40px 25px 0px 0px;
	}

	.container-wrapper {
		display: block;
		margin: 0px auto;
	}

	.icon-info i {
		font-size: 50px;
	}

	.icon-info p {
		width: 90%;
		margin: 0px auto;
	}

	.icon-info {
		display: inline-block;
		width: 33%;
	}
}

/*--------------------------------------------------------------
 4.2 About
 --------------------------------------------------------------*/
.about h2 {
	text-align: center;
	padding-top: 10px;
}

.about p {
	text-align: center;
	font-size: 12px;
	padding-top: 20px;
	margin: 10px;
}

.about img {
	display: block;
	margin: 15px auto;
	width: 90%;
}

@media only screen and (min-width: 1024px) {

	.about p {
		display: block;
		margin: 25px auto;
		font-size: 16px;
		padding: 20px 0px 20px 0px;
		width: 60%;
	}

	.about img {
		display: block;
		margin: 15px auto;
		width: 50%;
		height: 50%;
	}
}

/*--------------------------------------------------------------
 4.3 Register
 --------------------------------------------------------------*/

form * {
	background: none;
	/*color: #bd9c61;*/
	
}

input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
   opacity:  1;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
   opacity:  1;
}
input:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #fff;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
} 

input:focus::-moz-placeholder{
    color: transparent!important;
}

input:focus::-ms-input-placeholder{
    color: transparent!important;
}

.form-group {
	position: relative;
	display: block;
	margin-bottom: 15px;
	overflow: hidden;
}

input[type=text],input[type=email],input[type=tel]{
	border: none;
	border-bottom: dotted #ffffff;
	height: 45px;
	line-height: 45px;
	-webkit-appearance: none;
	-moz-appearnace: none;
	-webkit-border-radius: 0; 
	-moz-border-radius: 0; 
	border-radius: 0;
	padding: 0;
	margin: 0;
	color: white;
	
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


.submit {
	position: relative;
	display: inline-block;
	font-style: italic;
	margin: 20px 20px;
	font-size: 12px;
	background: none;
	border: none;
	cursor: pointer;
	color: #bd9c61;	
}

.submit:after {
	content: "\2192";
	font-style: normal;
	padding-left: 5px;
	/*transition: all 0.2s cubic-bezier(0.23, 1, 0.32, 1);*/
}

.error {
	color: red;
}



/*--------------------------------------------------------------
 4.4 Testimonials
 --------------------------------------------------------------*/
.testimonials img {
	display: block;
	margin: 15px auto;
	width: 90%;
}

.quotes {
	display: block;
	width: 85%;
	margin: 15px auto;
	padding: 10px;
	font-size: 15px;
	border-bottom: 2px solid #969696;
	background: #f5f5f5;
}

.quote-author {
	padding: 0px 10px;
	text-align: right;
	font-size: 19px;
}

.quote-subject {
	padding: 0 10px 0px;
	font-style: italic;
	color: #646464;
	text-align: right;
}

@media only screen and (min-width: 1024px) {

	.inner {
		overflow: hidden;
		margin-left: 40px;
	}

	.quotes {
		width: 28%;
		float: left;
		margin: 15px;
	}

	.testimonials img {
		width: 60%;
	}
}

/*--------------------------------------------------------------
 5.0 Footer
 --------------------------------------------------------------*/
.main-footer {
	background: #000;
	text-align: center;
	margin-top: 10px;
}

.main-footer h3 {
	color: #bd9c61;
	text-transform: uppercase;
	padding: 20px 0px 0px 0px;
}


.main-footer p {
	font-size: 14px;
	color: #ffffff;
	margin-bottom: 0px;
	padding: 10px 0px;
}

@media only screen and (min-width: 1024px) {

	.main-footer p {
		margin-top: 0px;
	}
}

